@model IEnumerable<LexiNetV2.ResourcesTbl>

@{
    ViewBag.Title = "Index";
}

<h2> Resources </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p><b>Resource Name </b></p> 
        </th>
        <th>
            <p><b>Resource Type</b></p>
        </th>
        <th>
            <p><b>Created by:</b></p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.resourceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resourceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTbl.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.resourceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.resourceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.resourceID })
        </td>
    </tr>
}

</table>
